.section_home {
  height: 90vh;
  background: url('../images/minneapolis2.jpg');
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url('../images/minneapolis2.jpg');
  background-size: cover;
}

.section_about {
  height: 90vh;
  background: url('../images/minneapolisLakes2.jpg');
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url('../images/minneapolisLakes2.jpg');
  background-size: cover;
}

.section_book-online {
  height: 90vh;
  background: url('../images/minneapolisLandscape.jpg');
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url('../images/minneapolisLandscape.jpg');
  background-size: cover;
}

.section_admin-login {
  height: 90vh;
  background: url('../images/minneapolisSkyline2.jpg');
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url('../images/minneapolisSkyline2.jpg');
  background-size: cover;
}

.about-shell {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-header {
  color: #fff;
  background-color: #80898E;
  width: 75%;
  height: 30%;
  opacity: 0.7;
  padding: 20px 10px;
  border-radius: 7px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-header h4 {
  font-size: 30px;
  // animation: fadein 2s;
  // transition: all 1000ms ease-in-out;
}

// @keyframes fadein {
//     from { 
//       opacity: 0; 
//       color: white;
//     }
//     to   { 
//       opacity: 1; 
//       color: blue
//     }
// }

// .messageout-enter {
//   // position: absolute;
//   // top: 0;
//   // left: calc(13% + 5px);
//   // right: calc(13% + 5px);
//   opacity: 0;
//   // right: 0;
//   // transform: translateY(0%) scale(0.01);
// }

// /* ending ENTER animation */
// .messageout-enter-active {
//   opacity: 1;
//   // transform: translateY(0%) scale(1);
//   transition: opacity 200ms;
// }

// /* starting EXIT animation */
// .messageout-exit {
//   opacity: 1;
//   // transform: scale(1.01);
// }

// /* ending EXIT animation */
// .messageout-exit-active {
//   opacity: 0;
//   // transform: scale(4);
//   transition: opacity 200ms;
// }