.section_home {
  height: 90vh;
  background: url('../images/minneapolis2.jpg');
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url('../images/minneapolis2.jpg');
  background-size: cover;
}

.section_about {
  height: 90vh;
  background: url('../images/minneapolisLakes2.jpg');
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url('../images/minneapolisLakes2.jpg');
  background-size: cover;
}

.section_book-online {
  height: 90vh;
  background: url('../images/minneapolisLandscape.jpg');
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url('../images/minneapolisLandscape.jpg');
  background-size: cover;
}

.section_admin-login {
  height: 90vh;
  background: url('../images/mplsSkyline.jpg');
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url('../images/mplsSkyline.jpg');
  background-size: cover;
}