nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .navlink-container {
  display: flex;
  align-items: center;
}

nav a {
  text-decoration: none;
}

.Nav-title {
  margin-right: 20px;
  color: #F5F5F5;
  letter-spacing: 2px;
  font-size: 1.5em;
  padding: 25px 0px 25px 25px;
}

.Nav_ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.Nav_ul li {
  float: left;
  padding: 10px;
  color: #F5F5F5;
  font-weight: bold;
  padding: 25px 10px;
  border-bottom: 2px solid transparent;
}

.Nav_ul li:hover {
  border-bottom: 2px solid #F5F5F5;
}

nav button {
  padding: 7px;
  border: 2px solid #F5F5F5;
  background: none;
  color: #F5F5F5;
  margin-right: 25px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 7px;
}

nav button:hover {
  color: #234469;
  background-color: #F5F5F5;

}